
/* ********************** CSS NAVBAR *************** */

.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  top: 0;
  margin-bottom: 5px;
  position: fixed;
  z-index: 1000;
  border-radius: 3px;
  color: blue;
}

.Logo {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

/* ********************* Nav Iteme *********************** */

.nav-item {
  text-align: center;
  width: 100%;
}

.nav-item :hover {
  color: white;
  background-color: rgb(80, 215, 205);
}

@media screen and (min-width: 900px) {
  .assos {
    display: none;
  }
}

/* ************** css carousselle ***************** */
.carousselle {
  height: 100%;
  width: 100%;
}

.img-car {
  height: 50rem;
  width: 80rem;
  margin-left: 3rem;
}

.img-min {
  margin-top: 3rem;
  height: 20rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .img-car {
    display: none;
    float: left;
  }
}

@media screen and (min-width: 900px) {
  .img-min {
    display: none;
  }
}

/* ************************** corp du site / cards **************** */

.btn {
  background-color: rgb(80, 215, 205);
  color: rgba(255, 107, 107, 1);
  font-weight: 500;
}

.card-title-1 {
  color: rgba(255, 107, 107, 1);
}

.card-x {
  background-color: rgb(243, 241, 241);
}

.card {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
width: 100%;
 
}

.card-title {
  font-weight: 700;
}

.age {
  color: rgba(255, 107, 107, 1);
}

/* ****  page actu ************************************************  */

.actu {

  font-size: 2rem;
}




/* <!-- ************************  Footer  ************************************************************ --> */

.footer {
  margin-top: 2rem;
  background-color: rgba(255, 107, 107, 1);
  color: white;
  text-align: center;
}

.container {
  
  padding-left: 1rem;
  padding-right: 1rem;
}