.body {

}


/* ********************** CSS NAVBAR *************** */


.navbar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    margin-bottom: 5px;
    position: fixed;
    z-index: 1000;
    
}

.Logo {
    height: 3rem;
    width: 3rem;

}

/* ********************* Nav Iteme *********************** */

.nav-item {
    text-align: center;
    width: 100%;
}

.nav-item :hover {
    color: white;
    background-color: rgb(80, 215, 205);
}


@media screen and (min-width: 900px) {
    .assos {
        display: none;
    }
}

/* ************** css carousselle ***************** */
.carousselle {
    height: 100%;
    width: 100%;
  }
  
  .img-car {
    height: 100%;
    width: 100%;
    
  }
  
  .img-min {
  
    height: 20rem;
    width: 100%;
  
  }

  

  @media screen and (max-width: 900px) {
      .img-car {
        display: none;
        float: left;
      }
    }
  
    @media screen and (min-width: 900px) {
      .img-min {
        
        display: none;
      }
    }
